<div class="container">
	<table class="table table-default">
		<tr>
			<th><%=@board.id%>번 글</th>
		</tr>
		<tbody>
			<<tr><td>제목</td><td><%=@board.title%></td></tr>

			<tr><td>내용</td><td><%=@board.contents%></td></tr>
		</tbody>		
	</table>
		<a href="/">글 목록</a>
</div>